SERVICE_NAME=backups-microservice
NODE_ENV=development
PORT=3398
CORS_ORIGIN=*
AUTH_SERVICE_URL=http://auth-microservice:3370
LOGGING_SERVICE_URL=http://logging-microservice:3367
NOTIFICATIONS_SERVICE_URL=http://notifications-microservice:3368
DB_HOST=db-server-postgres
DB_PORT=5432
DB_USER=dbadmin
DB_PASSWORD=
DB_NAME=backups
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=backups
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
WALG_S3_PREFIX=s3://backups
WALG_S3_ENDPOINT=http://localhost:9000
WALG_COMPRESSION_METHOD=lz4
JWT_SECRET=
SERVICE_TOKEN=
NOTIFICATIONS_SERVICE_TOKEN=
